<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ke1an.suvue.mapper.SvRoleMapper">

    <resultMap id="roleResultMap" type="svRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <select id="selectByUserId" resultMap="roleResultMap">
        select
               sv_role.*
        from sv_user
                 left join sv_user_role on sv_user.id = sv_user_role.user_id
                 left join sv_role on sv_user_role.role_id = sv_role.id
        where sv_user.id = #{userId}
    </select>
</mapper>